body {
    background: #2c2b2b;
}

h1 {
    color: white;
    font-size: 50px;
    font-family: 'Cambria';
    text-align: center;
    margin-top: 200px;
}



.Tabla {
    color: white;
    font-family: 'Courier New';
    font-size: 25px;
}

.Input {
    border-radius: 50px;
    background: #00ff90;
    width: 300px;
    height: 25px;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 20px;
}

.Contenedor {
    display: flex;
    justify-content: center;
}

.Btn {
    width: 150px;
    background: #000000;
    border-radius: 50px;
    color: white;
    height: 30px;
    margin-top: 40px;
    margin-left: 20px;
    cursor: pointer;
    background-color: #222;
}

a {
    text-decoration: none;
    color: white;
}
